.grid {
    display: grid;
    grid-template-columns: 1fr minmax(650px, 1.7fr) 1fr;
    grid-template-rows: 100px;
}
.logo {
    font-size: 3em;
}
.grid-item2 {
    display: flex;
    justify-content: space-between;
}
h2 {
    text-align: center;
}
.post_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 80px 1fr 3fr;
    grid-template-rows: 60px;
    grid-template-areas:
        "profile_picture username post_descripiton"
        "post post post";
    margin-bottom: 50px;
}
.profile_logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: center;
    margin: auto;
}
.post {
    margin: auto;
    width: 80%;
    grid-area: post;
}
