.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 100px;
}
.logo {
    font-size: 3em;
}
.post_container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 80px 1fr 3fr;
    grid-template-rows: 60px;
    grid-template-areas:
        "profile_picture username post_descripiton"
        "post post post";
}
.profile_logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.post {
    width: 100%;
    grid-area: post;
}
